body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body { 
  /* background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('./images/back.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;  */
}
.home1{
  height: 100vh;
  overflow-y: hidden;
}
.home1{
  height: 100vh;
  overflow-y: hidden;
}