html,body,#root,.App{
    height:100%;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
h1,h2,h3,h4{
    font-family: 'Orelega One', sans-serif !important;
}
#container {
    overflow-y: scroll;
    height:100vh;
    min-height:768px;
    top: 0;
    left: 0;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(30vh);
    scroll-snap-type: y mandatory;
  }
  .page {
    display: flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    color: #000;
    height: 100%;
  scroll-snap-align: start;
  position: relative;
  }
  .projects{
      color:white;
  }
  .carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
